* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(75, 204, 64, 0.55);
    margin: auto;
}

body h1 {
    margin: auto;
    text-align: center;
    margin-top: 2%;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 35px;
}

.date {
    text-align: center;
    margin: 0.5rem;

}

#demo {
    margin: auto;
    text-align: center;
    font-size: 20px;
    padding: 0.5rem;
    border: 2px solid red
}

#clockContainer {
    border-color: aqua;
    position: relative;
    background: url(clock.png) no-repeat;
    height: 39vw;
    width: 50vw;
    margin: auto;
    background-size: 100%;
    border: 5px solid aqua;
    border-radius: 5px;
    margin-top: 01%;

}

#hour,
#minute,
#second {
    position: absolute;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 2%;
    height: 20%;
    top: 30.8%;
    left: 49%;
    opacity: 1;
    background: black;


}

#minute {
    width: 1.5%;
    height: 23%;
    top: 27.7%;
    left: 49.4%;
    opacity: 0.8;
    background: green;



}

#second {
    width: 1%;
    height: 28%;
    top: 22.6%;
    left: 49.5%;
    opacity: 0.7;
    background: red;

}

.text {
    margin-top: 1rem;
    text-align: center;
    color: indianred;
}

.text h5 {
    font-family: cursive;
    font-size: 16px;

}

.text h5 b {
    font-family: cursive;
    font-size: 18px;
    border-bottom: 2px dotted black;

}

#table {
    margin: 2rem;
}

#table .table {}

#table .table table {
    margin: auto;
    text-align: center;
    border: 2px solid red;
}

#table .table table tr {
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}

#table .table table tr th,
td {
    padding: 10px 20px;
    border: 1px solid red;
    background: rgba(111, 128, 111, 0.81);
}

#table .table .right {
    border-right: 5px solid black;
    ;
}

#table .table .left {
    border-left: 5px solid black;
}

.r1-10 {
    color: rgba(29, 0, 250, 0.72)
}

.r11-20 {
    color: #10f545;
}

.top {
    color: rgb(255, 255, 255);

}
